body{
  background-color: #0c1f30;
}

@font-face {
  font-family: 'MyWebFont';
  src:  url('/fonts/NeueMachina-Light.woff') format('woff'),
        url('/fonts/NeueMachina-Regular.woff') format('woff');
}

@font-face {
  font-family: 'NeuemachinaUltrabold';
  src:  url('/fonts/NeueMachina-Ultrabold.woff') format('woff'),
        url('/fonts/NeueMachina-Ultrabold.woff2') format('woff2');
}

@font-face {
  font-family: 'MyParagraph';
  src: url('fonts/noto-sans.regular.woff') format('woff');
}

.titlebold{
  font-family: 'NeuemachinaUltrabold', Fallback, sans-serif;
  /* font-weight: 700;
  font-size: 72px; */
}

.title{
  font-family: 'MyWebFont', Fallback, sans-serif;
}

p{
  font-family: 'MyParagraph', Fallback, sans-serif;
}
 
.image
/* .navmenu .hidden {
  display: none;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  transform: translate3d(0.004%, 50%, 0px) scale3d(1, 1.2, 1) rotateX(0deg) rotateY(0deg) rotateZ(0.0006deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 0;

} */

.image{
  opacity: 0;
  
}


.navtitle{  
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Neuemachina,sans-serif;
  color: #e8eaed;
  font-size: 96px;
  line-height: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  
}

.navlist .label {
  display: none;
}
 
.navlist:hover .label{
  display: block;
}

.navtitle:hover{   
  transform: translateX(50px);
  transition-duration: 1s;
  background-repeat: no-repeat; 
  background-image: url('../public/svg/textbg.svg'), linear-gradient(165deg,#ec28ab,#ec9228 31%,#b547f9);
  
  background-position: 5% 20% ,0 0 ;   
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
}

.navnumber{
  font-family: Neuemachina,sans-serif;
  color: #e8eaed;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1px;
  position: absolute;
  margin-top: -120px;
  transform: translateY(-100px);
    transition-duration: 2s;

    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

}
.navlist{
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Neuemachina,sans-serif;
  color: #e8eaed;
  font-size: 96px;
  line-height: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.image200_21_20 {
  transform-box: fill-box;
    transform-origin: center;
}

.image1_2_14 {
  transform-box: fill-box;
    transform-origin: center;
}

/* rollingcircle */

.image3_28_3{
  transform-box: fill-box;
    transform-origin: center;
}

/*  */
.rotationtext {
  transform-box: fill-box;
    transform-origin: center;
}
.rotationarrow {
  transform-box: fill-box;
    transform-origin: center;
}

.stickytotop{
  position: -webkit-sticky;
  position: sticky;
  top: 130px;
}


.image2_28_3{
  transform-box: fill-box;
    transform-origin: center;
}

.image1_28_3{
  transform-box: fill-box;
    transform-origin: center;
}

/*  */
/* #image200_21_20{
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spic 1s linear infinite;
  animation: spin 1s linear infinite;
}
 @-webkit-keyframes spin{
   100%{-webkit-transform: rotate(360deg);}

 }
@-moz-keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
}

@keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
}
 */




/*------------------ team page------------------- */
.teamname {
  display: none;
}

.teamcard:hover .teamname {
  display: block;
}

.teamcard {
  transition: all .2s ease-in-out;
}

.teamcard:hover {
  transform: scale(0.9);
}



/* text background -------------- */

.spantext {
    background-image: url('../public/svg/textbg.svg');
    background-clip: text;
    -webkit-background-clip: text;
    background-color: aquamarine;
    font-size: xx-large;
    color: aqua;

  }

  .hello {    
    background-repeat: no-repeat;  
    background-image: url('../public/svg/textbg.svg'), linear-gradient(165deg,#ec9228,#ec9228 31%,#b547f9);
    background-position: 30% 50%,0 0;     
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  } 

  .dao {    
    background-repeat: no-repeat; 
 
    background-image: url('../public/svg/textbg.svg'), linear-gradient(165deg,#ec9228,#ec9228 31%,#b547f9);
    
    background-position: 60% 20% ,0 0 ;   
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  } 

  .about {   
     
    background-repeat: no-repeat; 
       /*  text-align: center; */   
    background-size: cover;
    background-image: url('../public/images/aboutbg.png');
    background-position: 50% 35%;     
    background-clip: text;
    -webkit-background-clip: text;
   /*  color: transparent; */
    -webkit-text-fill-color: transparent;
  } 
  
  .image1 .image2 {
   width: 100%;   
   height: 600px;
    padding-top: 30px;
    margin-top: 10px;
 /*    overflow: hidden; */
/*     transform: rotate(-58deg);
  transform-origin: 20% 40%; */
 
}

.imageabout {
  width: 2528px;  
  height: 2528px;   
   overflow: hidden;
}


  .button{   
    display: flex;
    max-width: 258px;
    height: 58px;
    background-repeat: no-repeat; 
   /*  text-align: center; */
   
   -webkit-box-pack: center;
   justify-content: center;
   -webkit-box-align: center;
    
   background-size: auto;
    background-image: url('../public/svg/buttonbg.svg');
    background-position: 50% 50%;   
/*     background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent; */
  } 
  .line{
    position: absolute;
   /*  padding-top: 40px;  */   
    z-index: 3;
    width: 3px;
    height: 100%;
    background-color: #883a3a;

  }

  @media screen and (max-width: 600px) {
    .line {
     margin-left: 16px;
    }
  }
  .progress_line{
    z-index: 4;
    top: 0%;
    position: fixed;   
    height: 20vh;
    /* height: 300px; */
    background-color: #ece919;
    width: 2px;
    
  }
  .timeline_grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    background-color: #0c1f30;
}
.timeline_item {
  position: relative;
  
  
  display: grid;
  padding-top: 80px;
  padding-bottom: 80px;
  
  
 /*  -ms-grid-columns: 1fr 132px 1fr; */
  grid-template-columns: 1fr 132px 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}


.video{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

  .timeline_progress {
    position: fixed;
    left: auto;
    top: 0;
    right: auto;
    bottom: 50vh;
    z-index: -1;
    width: 3px;
    height: 50vh;
    background-color: #fff;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ec9228),color-stop(51%,#ff4848),to(#b547f9));
    background-image: linear-gradient(180deg,#ec9228,#ff4848 51%,#b547f9);
}
